
<h1>Formulário</h1>

<form action="/dados" method="post">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" required>

  <label for="endereco">Endereço:</label>
  <input type="text" name="endereco" required>

  <label for="telefone">Telefone:</label>
  <input type="tel" name="telefone" required>

  <label for="data">Data de Agendamento:</label>
  <input type="date" name="data" required>

  <input type="submit" value="Enviar">
</form>
